<div class="regioni-container">
  <div class="title-row">
    <h2 class="regioni-title">Regioni</h2>
    <button class="add-button" (click)="openRegioneModal()">Aggiungi</button>
  </div>
  <ng-container *ngIf="!loading; else loadingBlock">
    <div class="regioni-table-wrapper" *ngIf="regioni.length > 0; else noDataBlock">
      <table class="regioni-table" >
        <thead>
          <tr class="regioni-thead-row">
            <th class="regioni-th text-left">ID</th>
            <th class="regioni-th text-left">Descrizione</th>
            <th class="regioni-th text-left">Codice</th>
            <th class="regioni-th text-left">Coordinate</th>
            <th class="regioni-th">Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr class="regioni-tbody-row regioni-tr" *ngFor="let regione of regioni">
            <td class="regioni-td">{{ regione.id }}</td>
            <td class="regioni-td">{{ regione.descrizione }}</td>
            <td class="regioni-td">{{ regione.codice }}</td>
            <td class="regioni-td">{{ regione.coordinate?.x }}, {{ regione.coordinate?.y }}</td>
            <td class="regioni-td UD-buttons">
              <button class="update-button" (click)="openRegioneModal(regione)">Modifica</button>
              <button class="delete-button" (click)="onDeleteRegione(regione.id)">Elimina</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #loadingBlock>
    <app-loading-spinner/>
  </ng-template>
  <ng-template #noDataBlock>
    <div class="text-center p-4 text-gray-500">Nessuna regione trovata.</div>
  </ng-template>
</div>
