<div class="regioni-container">
  <h2 class="regioni-title">Regioni</h2>
  <div class="regioni-table-wrapper">
    <table class="regioni-table">
      <thead>
        <tr class="regioni-thead-row">
          <th class="regioni-th">ID</th>
          <th class="regioni-th">Descrizione</th>
          <th class="regioni-th">Codice</th>
          <th class="regioni-th">Coordinate</th>
        </tr>
      </thead>
      <tbody>
        <!-- Esempio di riga, sostituisci con *ngFor="let regione of regioni" -->
        <tr class="regioni-tbody-row" *ngFor="let regione of regioni">
          <td class="regioni-td">{{ regione.id }}</td>
          <td class="regioni-td">{{ regione.descrizione }}</td>
          <td class="regioni-td">{{ regione.codice }}</td>
          <td class="regioni-td">{{ regione.coordinate?.x }}, {{ regione.coordinate?.y }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>