<div class="regioni-modal-overlay">
  <div class="regioni-modal-container">
    <div class="regioni-modal-header">
      <h2 class="regioni-modal-title">{{ regione ? 'Modifica Regione' : 'Aggiungi Regione' }}</h2>
      <button class="regioni-modal-close" (click)="closeModal()">&times;</button>
    </div>
    <div class="regioni-modal-body">
      <form (ngSubmit)="salva()" class="regioni-modal-form flex-col gap-2">
        <input
          type="text"
          [(ngModel)]="nuovaRegione.descrizione"
          name="descrizione"
          placeholder="Descrizione"
          class="regioni-modal-input"
          required
        />
        <input
          type="text"
          [(ngModel)]="nuovaRegione.codice"
          name="codice"
          placeholder="Codice"
          class="regioni-modal-input"
          required
        />
        <input
          type="number"
          [(ngModel)]="nuovaRegione.coordinate!.x"
          name="coordinateX"
          placeholder="Coordinata X"
          class="regioni-modal-input"
        />
        <input
          type="number"
          [(ngModel)]="nuovaRegione.coordinate!.y"
          name="coordinateY"
          placeholder="Coordinata Y"
          class="regioni-modal-input"
        />
        <button type="submit" class="regioni-modal-add-btn mt-2">
          {{ regione ? 'Salva' : 'Aggiungi' }}
        </button>
      </form>
    </div>
  </div>
</div>