@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
    background: #111827;
    color: #f3f4f6;
    margin: 0;
    transition: background-color 0.3s ease;
}

/* Tema scuro applicato per impostazione predefinita */
html {
    color-scheme: dark;
}