@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
    background: #ffffff;
    margin: 0;
    transition: background-color 0.3s ease;
}

/* Dark theme styles */
.dark body {
    @apply bg-gray-900 text-gray-100;
}

.dark {
    color-scheme: dark;
}