<div class="clienti-modal-overlay">
  <div class="clienti-modal-container">
    <div class="clienti-modal-header">
      <h2 class="clienti-modal-title">{{ cliente ? 'Modifica Cliente' : 'Aggiungi Cliente' }}</h2>
      <button class="clienti-modal-close" (click)="closeModal()">&times;</button>
    </div>
    <div class="clienti-modal-body">
      <form (ngSubmit)="salva()" class="clienti-modal-form flex-col gap-2">
        <input
          type="text"
          [(ngModel)]="nuovoCliente.descrizione"
          name="descrizione"
          placeholder="Descrizione del cliente"
          class="clienti-modal-input"
          required
        />
        <select 
          [value]="nuovoCliente.regione.id"
          (change)="onRegioneChange($event)"
          name="regione"
          class="clienti-modal-input"
          required
        >
          <option value="">Seleziona una regione</option>
          <option *ngFor="let regione of regioniDisponibili" [value]="regione.id">
            {{ regione.descrizione }}
          </option>
        </select>
        
        <select 
          [value]="getSelectedSoftwareId()"
          (change)="onSoftwareChange($event)"
          name="software"
          class="clienti-modal-input"
        >
          <option value="">Seleziona un software</option>
          <option *ngFor="let software of softwareDisponibili" [value]="software.id">
            {{ software.descrizione }}
          </option>
        </select>
        <button type="submit" class="clienti-modal-add-btn mt-2">
          {{ cliente ? 'Salva' : 'Aggiungi' }}
        </button>
      </form>
    </div>
  </div>
</div>
